In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [18]:
df=pd.read_excel("all-bloom-indicators.xlsx")

display(df.head())
df.info()

,Sample number,Waterbody name,Beach name,Beach access number,Latitude,Longitude,Collection date,Collection time,Microcystin LR-equivalent concentration (µg/L),Total cyanobacterial cell count (cells/mL),...,Sample Type,Description of water,Description of Water - Additional Notes,Turbidity,Colour,Evidence of bloom,Water temperature (°C),Wind direction,24 hr rainfall,24 hr rainfall amount (mm)
0,M141973,Baptiste Lake,Baptiste Lake Public Beach,8830387,54.726988,-113.568914,2014-06-24,15:30:00,No data,532110,...,Grab,Distinct green or blue-green colouration or st...,"Moderate breeze, mostly sunny, waves, light-gr...",No data,Green,No data,20.2,NE,True,No data
1,M141680,Beaver Lake,Young's Beach,9621938,54.753226,-111.925127,2014-07-29,11:30:00,0.52,1793582,...,Composite,Distinct green or blue-green colouration or st...,No data,No data,No data,No data,No data,No data,No data,No data
2,M141971,Bonnie Lake,Bonnie Lake Campground Beach,9013424,54.146363,-111.881312,2014-07-25,14:00:00,0.07,0,...,Composite,Distinct green or blue-green colouration or st...,No data,No data,No data,No data,No data,No data,No data,No data
3,M141382,Chestermere Lake,Camp Chestermere Beach,8805982,51.020865,-113.818185,2014-06-04,15:00:00,<0.05,0,...,Composite,Bottom of lake is clearly visible at 30 cm depth,No data,No data,No data,No data,No data,No data,No data,No data
4,M141386,Chestermere Lake,Camp Chestermere Beach,8805982,51.020865,-113.818185,2014-06-11,13:30:00,<0.05,0,...,Composite,Bottom of lake is clearly visible at 30 cm depth,No data,No data,No data,No data,No data,No data,No data,No data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685 entries, 0 to 2684
Data columns (total 23 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Sample number                                   2685 non-null   object
 1   Waterbody name                                  2685 non-null   object
 2   Beach name                                      2685 non-null   object
 3   Beach access number                             2685 non-null   object
 4   Latitude                                        2685 non-null   object
 5   Longitude                                       2685 non-null   object
 6   Collection date                                 2685 non-null   datetime64[ns]
 7   Collection time                                 2685 non-null   object
 8   Microcystin LR-equivalent concentration (µg/L)  2685 non-null   object
 9   Total cyanobacterial cell count (cells/mL)      2685 non-null   object
 10  Microcystis mcyE (copies/mL)                    2685 non-null   object
 11  Anabaena mcyE (copies/mL)                       2685 non-null   object
 12  Planktothrix mcyE (copies/mL)                   2685 non-null   object
 13  Sample Type                                     2685 non-null   object
 14  Description of water                            2685 non-null   object
 15  Description of Water - Additional Notes         2685 non-null   object
 16  Turbidity                                       2685 non-null   object
 17  Colour                                          2685 non-null   object
 18  Evidence of bloom                               2685 non-null   object
 19  Water temperature (°C)                          2685 non-null   object
 20  Wind direction                                  2685 non-null   object
 21  24 hr rainfall                                  2685 non-null   object
 22  24 hr rainfall amount (mm)                      2685 non-null   object
dtypes: datetime64[ns](1), object(22)
memory usage: 482.6+ KB

### Tasks:

1. Impute values:
    - All instances of null data in the source is entered as "No data". They will be changed to the corresponding datatype.
    - The methods used to detect cyanobacteria cell counts has a limit of 50 copies per mL (Alberta Health Environmental Public Health Science Team, 2021). As such values showing "<50" will be imputed as 0.
2. Convert Water temperature to float type.
3. Drop observations with null values for Total cyanobacteria cell count. (This is our main response variable)
4. Combine Description of Water and Evidence of bloom.
    - In 2015, the data collection form fragmented the Description of Water field to Evidence of Bloom, Turbidity, and Colour (Alberta Health Environmental Public Health Science Team, 2021).

#### Impute Values

In [19]:
# impute obvious values
df1=df.replace({"No data":np.nan,
                   "<50":0})
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685 entries, 0 to 2684
Data columns (total 23 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Sample number                                   2685 non-null   object
 1   Waterbody name                                  2685 non-null   object
 2   Beach name                                      2683 non-null   object
 3   Beach access number                             2508 non-null   float64
 4   Latitude                                        2684 non-null   float64
 5   Longitude                                       2684 non-null   float64
 6   Collection date                                 2685 non-null   datetime64[ns]
 7   Collection time                                 2546 non-null   object
 8   Microcystin LR-equivalent concentration (µg/L)  2575 non-null   object
 9   Total cyanobacterial cell count (cells/mL)      2553 non-null   float64
 10  Microcystis mcyE (copies/mL)                    1470 non-null   float64
 11  Anabaena mcyE (copies/mL)                       1470 non-null   float64
 12  Planktothrix mcyE (copies/mL)                   1470 non-null   float64
 13  Sample Type                                     2586 non-null   object
 14  Description of water                            414 non-null    object
 15  Description of Water - Additional Notes         779 non-null    object
 16  Turbidity                                       2069 non-null   object
 17  Colour                                          2072 non-null   object
 18  Evidence of bloom                               2065 non-null   object
 19  Water temperature (°C)                          1960 non-null   object
 20  Wind direction                                  2042 non-null   object
 21  24 hr rainfall                                  1991 non-null   object
 22  24 hr rainfall amount (mm)                      1901 non-null   object
dtypes: datetime64[ns](1), float64(7), object(15)
memory usage: 482.6+ KB

#### Change Water temperature data type

In [20]:
# identifying why they are strings
display(df1['Water temperature (°C)'].unique())

# fixing the problem:
# Stripping '~'
df1['Water temperature (°C)']=df1['Water temperature (°C)'].astype(str).str.replace('~','')


# taking the average of '29 - 30'
df1['Water temperature (°C)'][df1[df1['Water temperature (°C)']=='29 - 30'].index]='29.5'

# correcting column data type
df1['Water temperature (°C)']=df1['Water temperature (°C)'].astype('float64')
df1.info()

array([20.2, nan, 19.8, 22.1, 16.3, 18.5, 15, 19.6, 22.3, 20.5, 21.9,
       21.5, 23.2, 22.2, 21.1, 21.2, 22, 14, 16, 14.4, 16.5, 11.5, 10,
       14.5, 8, 9.2, 20.4, 17.8, 18, 21, 19, 20, 21.8, 17, 23, 15.8, 22.8,
       22.4, 23.1, 21.6, 20.3, 20.1, 20.6, 25.5, 22.7, 24.4, 21.4, 18.3,
       15.6, 18.6, 17.9, 22.6, 18.8, 19.1, 17.7, 16.7, 16.2, 18.1, 18.9,
       17.4, 18.7, 24.2, 22.9, 23.7, 23.6, 19.4, 24.9, 20.8, 15.1, 14.3,
       12.3, 24.1, 26.1, 25, 15.7, 14.1, 11.7, 23.3, 15.5, 11.2, 13, 9,
       10.6, 26, 19.2, 21.7, 20.9, 23.5, 19.3, 19.7, 15.4, 10.4, 17.3,
       24.3, 22.5, 18.4, 17.5, 12, 11, 5, 7, 16.6, 17.2, 24, 17.1, 16.9,
       21.3, 15.3, 20.7, 18.2, 17.6, 16.8, 23.9, 9.5, 10.5, 16.1, 16.4,
       14.8, 8.5, 13.5, 19.5, 27, 19.9, 27.1, 25.1, 24.8, 13.2, 4, 26.2,
       3, 15.9, 6.5, 12.5, 24.6, 14.6, 24.5, '~15', '29 - 30', '~19', 8.6,
       13.8, 8.9, 3.6, 13.9, 13.1, 11.3, '~7', 25.3, 26.7, 26.8, 28, 25.4,
       25.6, 14.9, 24.7, 26.6, '~19.4', 17.78, '~18.9', 14.2, '~16',
       '~18', '~20', '~21.5', 13.7, 26.3, 31, 10.2, 29, 15.2],
      dtype=object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685 entries, 0 to 2684
Data columns (total 23 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Sample number                                   2685 non-null   object
 1   Waterbody name                                  2685 non-null   object
 2   Beach name                                      2683 non-null   object
 3   Beach access number                             2508 non-null   float64
 4   Latitude                                        2684 non-null   float64
 5   Longitude                                       2684 non-null   float64
 6   Collection date                                 2685 non-null   datetime64[ns]
 7   Collection time                                 2546 non-null   object
 8   Microcystin LR-equivalent concentration (µg/L)  2575 non-null   object
 9   Total cyanobacterial cell count (cells/mL)      2553 non-null   float64
 10  Microcystis mcyE (copies/mL)                    1470 non-null   float64
 11  Anabaena mcyE (copies/mL)                       1470 non-null   float64
 12  Planktothrix mcyE (copies/mL)                   1470 non-null   float64
 13  Sample Type                                     2586 non-null   object
 14  Description of water                            414 non-null    object
 15  Description of Water - Additional Notes         779 non-null    object
 16  Turbidity                                       2069 non-null   object
 17  Colour                                          2072 non-null   object
 18  Evidence of bloom                               2065 non-null   object
 19  Water temperature (°C)                          1960 non-null   float64
 20  Wind direction                                  2042 non-null   object
 21  24 hr rainfall                                  1991 non-null   object
 22  24 hr rainfall amount (mm)                      1901 non-null   object
dtypes: datetime64[ns](1), float64(8), object(14)
memory usage: 482.6+ KB

C:\Users\radhi\AppData\Local\Temp/ipykernel_5248/3875511455.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Water temperature (°C)'][df1[df1['Water temperature (°C)']=='29 - 30'].index]='29.5'

#### Drop observations with null values in our main response variable (Total cyanobacteria cell count)

In [21]:
# drop if main response does not exist.
df1.dropna(subset=['Total cyanobacterial cell count (cells/mL)'], inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2553 entries, 0 to 2683
Data columns (total 23 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Sample number                                   2553 non-null   object
 1   Waterbody name                                  2553 non-null   object
 2   Beach name                                      2551 non-null   object
 3   Beach access number                             2385 non-null   float64
 4   Latitude                                        2552 non-null   float64
 5   Longitude                                       2552 non-null   float64
 6   Collection date                                 2553 non-null   datetime64[ns]
 7   Collection time                                 2439 non-null   object
 8   Microcystin LR-equivalent concentration (µg/L)  2459 non-null   object
 9   Total cyanobacterial cell count (cells/mL)      2553 non-null   float64
 10  Microcystis mcyE (copies/mL)                    1391 non-null   float64
 11  Anabaena mcyE (copies/mL)                       1391 non-null   float64
 12  Planktothrix mcyE (copies/mL)                   1391 non-null   float64
 13  Sample Type                                     2472 non-null   object
 14  Description of water                            372 non-null    object
 15  Description of Water - Additional Notes         736 non-null    object
 16  Turbidity                                       2008 non-null   object
 17  Colour                                          2011 non-null   object
 18  Evidence of bloom                               2003 non-null   object
 19  Water temperature (°C)                          1906 non-null   float64
 20  Wind direction                                  1983 non-null   object
 21  24 hr rainfall                                  1931 non-null   object
 22  24 hr rainfall amount (mm)                      1844 non-null   object
dtypes: datetime64[ns](1), float64(8), object(14)
memory usage: 478.7+ KB

#### Combining Evidence of bloom and Description of water

In [22]:
display(df1["Evidence of bloom"].unique())

display(df1["Description of water"].unique())

df1["Description of water"]=df1["Description of water"].str.strip()
display(df1["Description of water"].unique())

display(df1[(~df1["Description of water"].isna()) &
  (~df1["Evidence of bloom"].isna())].values)

array([nan, 'Streaks on surface', 'Particles in water', 'Not apparent',
       'Scums on surface', 'No evidence'], dtype=object)

array(['Distinct green or blue-green colouration or streaks on the surface',
       'Bottom of lake is clearly visible at 30 cm depth', nan,
       'Visible green or blue-green scums affect large parts of the surface',
       'Bottom of lake is clearly visible at 30 cm depth '], dtype=object)

array(['Distinct green or blue-green colouration or streaks on the surface',
       'Bottom of lake is clearly visible at 30 cm depth', nan,
       'Visible green or blue-green scums affect large parts of the surface'],
      dtype=object)

array([['M141978', 'Steele (Cross) Lake', 'Cross Lake Provincial Park',
        9050014.0, 54.652335, -113.794963,
        Timestamp('2014-07-16 00:00:00'), nan, nan, 829103.0, nan, nan,
        nan, 'Grab',
        'Visible green or blue-green scums affect large parts of the surface',
        'Green substance on the water', 'Moderate', 'Green',
        'Streaks on surface', 19.8, 'NW', False, 0]], dtype=object)

Information retrieved from:
- Key Cyanobacterial Bloom Indicators and Supporting Data 2014-2021 Column Descriptions
- https://open.alberta.ca/opendata/cyanobacterial-blooms-in-alberta-recreational-waters

Between 2015 and 2021, the description of water was captured in three separate data fields: Turbidity, Colour and Evidence of Bloom. Details for these three fields are provided in their respective rows below (Alberta Health Environmental Public Health Science Team, 2021).

Description of water order of severity:
1. "the bottom of the lake is clearly visible at approximately 30 cm depth along the shore"
2. "distinct green or blue-green discolouration or streaks on the surface"
3. "visible green or blue-green scums affect large parts of the water surface"

Evidence of bloom order of severity:
1. "no evidence" / "not apparent"
2. "particles in the water"
3. "streaks on the surface"
4. "scums on surface"

Evidence of bloom consistency issues:
- In 2015, the option "not apparent" was used on the sample requisition form instead of "no evidence" - these two options should be considered equivalent

Evidence of bloom "particles in the water" has no equivalent in Description of water.
There is a case of 1 discrepancy in M141978 where DoW claims "scums" but EoB claims "streaks". The default will follow the more up to date indicator.

In [23]:
dof_update={"no evidence":"not apparent", # "not apparent" will be preferred since it is less absolute.
                                            # This data was assessed visually and is hence more accurate.
            "Bottom of lake is clearly visible at 30 cm depth":"not apparent",
            'Distinct green or blue-green colouration or streaks on the surface':"streaks on the surface",
            'Visible green or blue-green scums affect large parts of the surface':"scums on surface"
           }

df1.replace(dof_update, inplace=True)

In [24]:
df1['Eob']=df1["Evidence of bloom"].fillna(df1["Description of water"])
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2553 entries, 0 to 2683
Data columns (total 24 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Sample number                                   2553 non-null   object
 1   Waterbody name                                  2553 non-null   object
 2   Beach name                                      2551 non-null   object
 3   Beach access number                             2385 non-null   float64
 4   Latitude                                        2552 non-null   float64
 5   Longitude                                       2552 non-null   float64
 6   Collection date                                 2553 non-null   datetime64[ns]
 7   Collection time                                 2439 non-null   object
 8   Microcystin LR-equivalent concentration (µg/L)  2459 non-null   object
 9   Total cyanobacterial cell count (cells/mL)      2553 non-null   float64
 10  Microcystis mcyE (copies/mL)                    1391 non-null   float64
 11  Anabaena mcyE (copies/mL)                       1391 non-null   float64
 12  Planktothrix mcyE (copies/mL)                   1391 non-null   float64
 13  Sample Type                                     2472 non-null   object
 14  Description of water                            372 non-null    object
 15  Description of Water - Additional Notes         736 non-null    object
 16  Turbidity                                       2008 non-null   object
 17  Colour                                          2011 non-null   object
 18  Evidence of bloom                               2003 non-null   object
 19  Water temperature (°C)                          1906 non-null   float64
 20  Wind direction                                  1983 non-null   object
 21  24 hr rainfall                                  1931 non-null   object
 22  24 hr rainfall amount (mm)                      1844 non-null   object
 23  Eob                                             2374 non-null   object
dtypes: datetime64[ns](1), float64(8), object(15)
memory usage: 498.6+ KB

In [25]:
df2=df1.copy()
df2.drop(columns=['Description of water','Evidence of bloom'],inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2553 entries, 0 to 2683
Data columns (total 22 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Sample number                                   2553 non-null   object
 1   Waterbody name                                  2553 non-null   object
 2   Beach name                                      2551 non-null   object
 3   Beach access number                             2385 non-null   float64
 4   Latitude                                        2552 non-null   float64
 5   Longitude                                       2552 non-null   float64
 6   Collection date                                 2553 non-null   datetime64[ns]
 7   Collection time                                 2439 non-null   object
 8   Microcystin LR-equivalent concentration (µg/L)  2459 non-null   object
 9   Total cyanobacterial cell count (cells/mL)      2553 non-null   float64
 10  Microcystis mcyE (copies/mL)                    1391 non-null   float64
 11  Anabaena mcyE (copies/mL)                       1391 non-null   float64
 12  Planktothrix mcyE (copies/mL)                   1391 non-null   float64
 13  Sample Type                                     2472 non-null   object
 14  Description of Water - Additional Notes         736 non-null    object
 15  Turbidity                                       2008 non-null   object
 16  Colour                                          2011 non-null   object
 17  Water temperature (°C)                          1906 non-null   float64
 18  Wind direction                                  1983 non-null   object
 19  24 hr rainfall                                  1931 non-null   object
 20  24 hr rainfall amount (mm)                      1844 non-null   object
 21  Eob                                             2374 non-null   object
dtypes: datetime64[ns](1), float64(8), object(13)
memory usage: 458.7+ KB

### Cleaning up column names and writing to csv

In [26]:
df2.columns = ['Sample_number', 'Waterbody_name', 'Beach_name', 'Beach_access_num', 'Latitude', 'Longitude',
                    'Collection_date', 'Collection_time', 'MC-LR_conc', 'Total_cyano_cell_count', 'Microcystis_mcyE', 'Anabaena_mcyE',
                    'Planktothrix_mcyE', 'Sample_type', 'Water_description_additional', 'Turbidity', 'Color',
                    'Water_temp', 'Wind_direction', 'Rainfall_24h_bool', 'Rainfall_24h_mm', 'EOB']

df2['Collection_date'] = pd.to_datetime(df2['Collection_date'])
df2['Year'] = df2['Collection_date'].dt.year
df2['Month'] = df2['Collection_date'].dt.month
df2['Day'] = df2['Collection_date'].dt.day

#### Selection of rows
We remove the entries for the year 2021 because of the priliminary nature of the data (https://open.alberta.ca/opendata/cyanobacterial-blooms-in-alberta-recreational-waters). 

Upon closer examination of the dataset, it appears that there's only 1 entry for Mayatan Lake and it lacks geographic information. Hence, we remove the row corresponding to Mayatan Lake.

In [27]:
## Mayatan lake entry is missing latitude and longitude information. 
## Check how many entries exist for Mayatan lake
display(df2[df2.Waterbody_name == 'Mayatan Lake'].loc[1299])
## Only 1 entry for Mayatan lake exists. Remove from dataframe. Also remove data for 2021. 

df2 = df2[(df2.Waterbody_name != 'Mayatan Lake') & (df2.Year != 2021)]
display(df2.info())

Sample_number                                                             M161954
Waterbody_name                                                       Mayatan Lake
Beach_name                                                         NE-13-52-3-W5M
Beach_access_num                                                              NaN
Latitude                                                                      NaN
Longitude                                                                     NaN
Collection_date                                               2016-08-18 00:00:00
Collection_time                                                          10:30:00
MC-LR_conc                                                                  <0.10
Total_cyano_cell_count                                                    17168.0
Microcystis_mcyE                                                            395.0
Anabaena_mcyE                                                                 0.0
Planktothrix_mcyE                                                             0.0
Sample_type                                                             Composite
Water_description_additional    Reports of algae (green) bloom on August 11, 2...
Turbidity                                                                   Clear
Color                                                                  Colourless
Water_temp                                                                   21.0
Wind_direction                                                            No wind
Rainfall_24h_bool                                                           False
Rainfall_24h_mm                                                                 0
EOB                                                                   No evidence
Year                                                                         2016
Month                                                                           8
Day                                                                            18
Name: 1299, dtype: object

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2131 entries, 0 to 2254
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sample_number                 2131 non-null   object
 1   Waterbody_name                2131 non-null   object
 2   Beach_name                    2129 non-null   object
 3   Beach_access_num              1994 non-null   float64
 4   Latitude                      2131 non-null   float64
 5   Longitude                     2131 non-null   float64
 6   Collection_date               2131 non-null   datetime64[ns]
 7   Collection_time               2022 non-null   object
 8   MC-LR_conc                    2042 non-null   object
 9   Total_cyano_cell_count        2131 non-null   float64
 10  Microcystis_mcyE              1390 non-null   float64
 11  Anabaena_mcyE                 1390 non-null   float64
 12  Planktothrix_mcyE             1390 non-null   float64
 13  Sample_type                   2054 non-null   object
 14  Water_description_additional  615 non-null    object
 15  Turbidity                     1591 non-null   object
 16  Color                         1594 non-null   object
 17  Water_temp                    1517 non-null   float64
 18  Wind_direction                1566 non-null   object
 19  Rainfall_24h_bool             1516 non-null   object
 20  Rainfall_24h_mm               1434 non-null   object
 21  EOB                           1956 non-null   object
 22  Year                          2131 non-null   int64
 23  Month                         2131 non-null   int64
 24  Day                           2131 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(3), object(13)
memory usage: 432.9+ KB

None

In [ ]:
# Save dataframe
df2.to_csv('dataBloom.csv', index=False)